body{
    background-color: rgba(0, 0, 0, 0.993);
    margin:0px
}

header {
    background-color:rgb(196, 224, 252);
    height: 14vh;
}

h2 {
    color: rgb(66, 56, 0);
    text-align: center;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 50pt;
}

h1 {
    text-align: center;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p {
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-align: center;
}
p2 {
    font-weight: 600;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
   
}
p3 {
    font-weight: 600;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
}
p4 {
    margin: 15vh;
}
button {
    border-radius: 15px;
}

div {
    height: fit-content;

    margin: 10px 30px;
}

div > p {
    font-size: 15pt;
    color: white;
    margin: 100px, 500px, 500px, 100px;
    
}

img {
    height: 500px;
   
    border: 0px solid;
     margin: auto;
     display: block;

    
}